.border_transition:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    /* FBA1B7 */
    background-color: #fa8d09;
    width: 0;
    height: 2px;
    transition:  0.7s;
}

.border_transition:hover:after{
    width:100%
}

.back_image::before { 
    pointer-events: none;
    content: ""; 
    position: absolute; 
    top: 0px; 
    right: 0px; 
    bottom: 0px; 
    left: 0px; 
    background-image: url( '/bg-1.jpeg'); 
    background-size: contain;  
    opacity: 0.1; 
    
} 